body{
  background-color:#F5F6F8 ;
  margin: auto;
}
.principal{
    position: relative;
    width: 50vw;
    height: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titulo{
font-size:xx-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: oblique;
color:#563938
}