.containerMenu{
width: 450px;
}

.buttonMenu {
  display: flex;
  width: 450px;
  background-color: #eae8e6;
  padding: 3%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  font-weight: bold;
}

.buttonBreakfast {
  color: #f39625;
}

.menuSelect{
  width: 450px;
  height: auto;
  flex-wrap: wrap;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  background-color: #eae8e6;
  padding: 3%;
  border-radius: 10px;
}

.cardsMenu{
  width: 350px;
  height: 110px;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.nameProduct{
  margin-left: 1rem;
  margin-right: 1rem;
}

