.Container{
}
.buttonMenu{
    background-color: #eae8e6;
    margin:3%;
    padding: 3%;
    display: flex;
}
.titulo{
    font-size: 30px;
    font-weight: bold;
    font-family:"qwigley";
    color:#563938
 }