.section{
    width: 100%;
    background-color: #F39625;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
   
}

.error{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
} 
.error_message{
    display: flex;
    justify-content: center;
}   