.headers{
    background-color:#F39625;
    font-weight: 700;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 3vw;
  

}
.main_header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4{
    margin-bottom: 0;
    margin-left: 300px;
}

img {
    cursor: pointer;
}

.table_responsive{
    border: #f77e05 1px solid;
    margin: 15px;
    padding: 5px;
}