.Container_order{
    width: auto;
    background-color: #ffc107;
    padding: 3%;
    border-radius: 10px;
}
.section_order{
    width: 450px;
    font-size:x-large;
    font-weight: bold;
    margin-left: 5%;
    
}
.table{
    width: 450px;;
    margin-top: 10%;
    margin-left: 5%;
        
}
.Button{
    display: flex;
    justify-content: space-around;
}