.main{
    width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    }

.order{
    width: 500px;
    margin-left: 300px;
}